
h2 {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 164%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}


.info_ttdi {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info_ttdi h4 {
    margin: 0 0 5px;
    color: #777;
}

.ttdiLegend {
    line-height: 18px;
    color: #555;
}
.ttdiLegend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

